dropdown {
    /* height:fit-content;
    max-width: fit-content; */
    background-color: blue;
}

/* #map {
    height: 1000px; */
    /* margin-bottom: 50px; */
    /* position: relative; */
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    /* } */

/* #map {
    width: 70%; 
    height: 100%; 
    margin:0px auto; 
    display:inline-block} */
