<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="data:;base64,=">

  <!-- <meta http-equiv="Content-Security-Policy" content="default-src * 'self'; img-src * 'self' data:;"> -->

  <!-- <meta http-equiv="Content-Security-Policy" content="img-src 'self' data:; default-src 'self' http://127.0.0.1:5000/"> -->

  <title>World Happiness Report</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

  <!-- <link href="{{ url_for('static', filename='css/style.css') }}">  -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css"> 

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Gallup's World Happiness Poll</h1>
        <p>Use the interactive charts below to explore the dataset. Data available for 2016-2020.</p>
        <p class="pull-left"></p>
        <span class="col-md-12 dropdown" style="height:20px";>
          <h5>Choose a Year:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)">
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
          </select>
        </span>
      </div>
    </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div id="#map" style="height:400px; width:100%"></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row" style="padding-bottom:50px">
        <div class="col-md-6">
            <div id="#bar1"></div>
        </div>
        <div class="col-md-6">
          <div id="#bar2"></div>
      </div>
      </div>
    </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script src="{{  url_for('static', filename='js/test.js')  }}"></script> -->
  <script src="{{ url_for('static', filename='js/choropleth.js') }}"></script>
  <script src="{{ url_for('static', filename='js/map.js') }}"></script>
  <script src="{{ url_for('static', filename='js/config.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chart.js') }}"></script>

</body>

</html>
